.App {
  height: 100vh;
  overflow: hidden;
}

label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-size: 0.8rem;
}

input {
  margin-top: 0.2rem;
  padding: 0.3rem 0.6rem;
  line-height: 1.4;
  color: #282c34;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  line-height: 1.4;
  color: #fff;
  background-color: #191e84;
  border: none;
  outline: none;
}

button:hover,
button:focus {
  background-color: #161fd3;
}

button:active {
  background-color: #0e1152;
}

button:disabled {
  background-color: #2e349f;
}
